<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= scientist.name %></title>
</head>
<body>
    <form action="/<%= index %>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= scientist.name %> </button>
    </form>
    <form action="/<%=index%>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%=scientist.name%>">
        Description: <input type="text" name="description" value="<%=scientist.description%>">
        <button type="submit">Save</button>
    </form>
</body>
</html>