<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scientists</title>
</head>
<body>
    <h1>Scientists</h1>
    <% for (let i = 0; i < scientists.length; i++) { %> 
        <a href="/<%= i %>"><%= scientists[i].name%></a><br>
        <form action="/<%= i %>/edit" method="GET">
            <button type="submit">Edit</button>
        </form>
        <form action="/<%= i %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
        </form>
    <% } %>
    <br>
    <a href="/new">New Scientist</a>
    <h1>Studied Life</h1>
    <% for (let i = 0; i < categories.length; i++) { %> 
        <p><%= categories[i].name %> </p>
        <ul>
            <% for (let j = 0; j < categories[i].elements.length; j++) { %> 
                <li><%= categories[i].elements[j] %> </li>   
            <% } %> 
        </ul>
    <% } %> 
</body>
</html>