
        <main>
            <div style="display: flex;justify-content: center;">
                <article x-data="{showTools: false}" class="card text-center" style="width: 18rem">
                    <div class="card-body">
                        <h2 class="card-title"><%= animal.species %></h2>
                        <p class="card-text">
                            <Life>Location: <%= animal.location %> <br/>
                            Life Expentancy: <%= animal.lifeExpectancy %> <br/>
                            Extinct: <%= animal.extinct ? 'Yes' : 'No' %> 
                        </p>
                        <button class="btn btn-primary" x-on:click="showTools = !showTools" style="margin-bottom: 5px;">Show Options</button>
                        <div x-show="showTools" class="btn-group" x-transition>
                            <a href="/animals">
                                <button class="btn btn-primary">Back</button>
                            </a>
                            <a href="/animals/<%= animal.id %>/edit">
                                <button class="btn btn-primary">Edit</button>
                            </a>
                            <form action="/animals/<%= animal.id %>?_method=DELETE" method="POST" style="display:inline;">
                                <button class="btn btn-primary">Delete</button>
                            </form>
                        </div>
                    </div>
                </article>
            </div>
        </main>