<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs", {title: 'Budgets'}) %> 
<% let bankAccount = 0 
for (item of budget) bankAccount += Number(item.amount)
%>
<style>
    body {
        <%if (bankAccount > 0) {%> 
            background-color: lime;
        <% } else { %>
            background-color: red;
        <% } %>
    }
</style> 
<body>
    <div class="container">
        <h1>Budgtr ALL</h1>
        <h5>Bank Account: $<%= bankAccount %></h5>
        <table>
            <% for (let i = 0; i < budget.length; i++) { %>
                <tr>
                    <td> <%= budget[i].date %> </td>
                    <td> 
                        <a href="/budget/<%= i %> "> <%= budget[i].name %></a>
                    </td>
                    <td> <%= budget[i].amount %>  </td>
                    <% bankAccount += budget[i].amount %> 
                </tr> 
            <% } %> 
        </table>
        <a href="/budget/new">New Item</a>
    </div>
</body>
</html>