<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs", {title: 'Budgets'}) %> 
<body>
    <div class="container">
        <h1><%= item.name %></h1>
        <form action="/budget" method="GET">
            <button type="submit">Back</button>
        </form>
        <h3><%= item.from %> </h3>
        <h3><%= item.amount %> </h3>
        <% for (tag of item.tags) {%>
            <h3 style="display:inline;"><%= tag %> </h3>
        <% } %> 
    </div>    
</body>
</html>